.background {
    background: url(Images/concrete_seamless.png);
    margin-top: 0;
}

.jumbotron {
    margin-top: 3rem;
    margin-bottom: 3rem;
    background: white;
}

#portfolio {
    margin-top: 3rem;
    margin-bottom: 3rem;
}