body {
    background: url("../images/ep_naturalblack.png");
    color: white;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 20px;
}

#musiQuery {
    background-image: url("../images/musiQuery_scrnshot.jpg");
    background-size: cover;
    background-position: center;
}

#gifTastic {
    background-image: url("../images/gifTastic.png");
    background-size: cover;
    background-position: center;
}

#triviaGame {
    background-image: url("../images/TriviaGame.jpg");
    background-size: cover;
    background-position: center;
}

#crystalCollect {
    background-image: url("../images/crystalCollectors.jpg");
    background-size: cover;
    background-position: center;
}

a {
    font-family: 'Architects Daughter', cursive;
    color: white;
    font-size: 25px;
}

.nav-link {
    color: #0087cc;
}

.navbar-brand {
    background-color: #0087cc;
}

/* #aboutImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
} */

.aboutMe-container {
    cursor: pointer;
    height: 175px;
    perspective: 600;
    position: relative;
    width: 150px;
}

.aboutMe {
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
    width: 100%;
}

.aboutMe:hover {
    transform: rotateY(180deg);
}

.aboutMe .side {
    backface-visibility: hidden;
    border-radius: 50%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    width: 100%;
}

.aboutMe .back {
    /* background: #eaeaed; */
    color: #0087cc;
    line-height: 150px;
    text-align: center;
    transform: rotateY(180deg);
}